# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.env/

# Environment variables (SENSITIVE - never push!)
.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Docker
docker-compose.override.yml
