# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/
env/
.env/
venv_win/


# Environment variables (SENSITIVE - never push!)
.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# macOS
.DS_Store

# Temp scripts
check_token.py

# IDE
.vscode/
.idea/
*.swp

# Docker
docker-compose.override.yml
